<h3>Welcome to ILL</h3>
<!-- <%= link_to "Log in!", login_path %> -->
<p>This applicaion is for organizing all your Bookmarks, notes, articles and videos into one place for convenient management.</p>
