<h3><%= @lab.title %> by <%= link_to @lab.user.username, user_path(@lab.user) %></h3>

<p><%= @lab.description %></p>

<% if @lab.user_id == session[:user_id] %>
  <!-- <%= link_to %> -->
  <p>Link to add a material to lab</p>
<% end %>
